:root {
    --navBar-color: #FFFFFF;
    --background-color: #142634;

    --house-border-color: #FFFFFF;
    /*FFFFFF*/
    --portfolio-border-color: #142634;
    --profile-border-color: #142634;
    --mail-border-color: #142634;

    --alt-text-color: #FF6969;

    --gray-color: #C4C4C4;
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}


.nav {
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    position: absolute;
    background: linear-gradient(180deg, #FBEEFF 0%, rgba(146, 128, 153, 0) 100%), #FFFFFF;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.3), inset 0px -3px 5px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-areas: 'tab1 tab2 tab3 tab4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

    font-family: 'Roboto', sans-serif;

}

.tab1,
.tab2,
.tab3,
.tab4 {
    overflow: hidden;
    fill: currentColor;
}

.houseIcon {
    transition: top .6s !important;
    width: 15px;
    height: 12.5px;
    position: absolute;
    bottom: 29px;
    left: 42.7px;
    border-left: solid 2.75px var(--house-border-color);
    border-right: solid 2.75px var(--house-border-color);
    border-bottom: solid 2.75px var(--house-border-color);
    border-radius: 2px 2px 4px 4px;
    top: 31px;


}

.portfolioIcon {
    width: 21px;
    height: 15px;
    position: absolute;
    left: 34.4%;
    bottom: 34%;
    border: 2.7px solid var(--portfolio-border-color);
    border-radius: 4px;
    transition: top .6s !important;

}

.profileIcon {
    width: 28px;
    height: 28px;
    border: 2px solid var(--profile-border-color);
    box-sizing: border-box;
    border-radius: 23px;
    overflow: hidden;
    left: 59%;
    position: absolute;
    top: 20px;
    transition: top .6s;


}

.mailIcon {
    width: 27px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    border: solid 2.7px var(--mail-border-color);
    border-radius: 3px;
    left: 81.5%;
    bottom: 25.5px;
    transition: top .6s;

}




.homeSelected {
    position: absolute;
    top: -5px;

}

.portfolioSelected {
    position: absolute;
    top: -10px;
}

.profileSelected {
    position: absolute;
    top: -13px;
}

.mailSelected {
    position: absolute;
    top: -11px;
}

.homeLabel::after {
    content: 'Home';
    left: 21px;
    top: 19px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.portfolioLabel::after {
    content: 'Portfolio';
    left: 13px;
    top: 19px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.profileLabel::after {
    content: 'Profile';
    left: 23px;
    top: 19px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.mailLabel::after {
    content: 'Contact';
    left: 8px;
    top: 19px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}



.houseIcon::before {
    content: "";
    border-left: solid 2.75px var(--house-border-color);
    border-top: solid 2.75px var(--house-border-color);
    height: 11.5px;
    width: 11.5px;
    display: block;
    position: relative;
    left: 0.5px;
    top: -7.1px;
    transform: rotate(45deg);
    border-radius: 27px 13px 9pc 13px;
}

.houseIcon::after {
    content: "";
    height: 12px;
    width: 6.5px;
    display: block;
    position: relative;
    background-color: var(--house-border-color);
    left: 4px;
    bottom: 11px;
    border-radius: 5px 5px 0 0;
}

.selectCircle {
    background-color: var(--background-color);
    width: 40px;
    height: 40px;
    position: absolute;
    top: -19px;
    left: 33px;
    border-radius: 29px;
    transition: left .6s;
}

.Sethome {
    left: 35px;
}

.Setpfolio {
    left: 32.6%;
}

.Setpfile {
    left: 57.6%;
}

.Setemail {
    left: 79.9%
}



.portfolioIcon::before {
    content: '';
    width: 10px;
    position: relative;
    height: 1px;
    border: 2.7px solid var(--portfolio-border-color);
    display: inherit;
    left: 3px;
    top: -7px;
    border-radius: 4px 4px 0 0;
}



.profileBody {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid var(--profile-border-color);
    position: relative;
    left: -3px;
    bottom: -14.5px;
    border-radius: 33px;
}

.profileBody::before {
    content: "";
    width: 7px;
    height: 7px;
    display: inherit;
    border: solid 2px var(--profile-border-color);
    top: -14px;
    left: 8px;
    position: relative;
    border-radius: 11px;
}



.mailIcon::before {
    content: '';
    width: 16px;
    height: 3px;
    background: var(--mail-border-color);
    position: absolute;
    transform: rotate(45deg);
    left: -2px;
    top: 3px;
    border-radius: 0 0 10px 0;
}

.mailIcon::after {
    content: '';
    width: 16px;
    height: 3px;
    background: var(--mail-border-color);
    position: absolute;
    transform: rotate(-45deg);
    left: 8px;
    top: 3px;
    border-radius: 0 0 0 10px;
}
.mainText{
    top: 4px;
    position: relative;
}

.mainText h1 {
    position: relative;
    width: 193px;
    height: 122px;
    left: 28px;
    top: 67px;
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 55px;
    color: #FFFFFF;
}

.mainText h2,.portfolio h2{
    position: relative;
    width: auto;
    height: 23px;
    left: 28px;
    font-family: Tajawal;
    font-weight: 500;
    color: var(--gray-color);

}

.portfolio h2{
    top: 28px;
    font-size: 19px;
}

.mainText h2{
    top: 88px;
    font-size: 26.5px;
}

.view{
    color: var(--alt-text-color) !important;
    position: relative !important;
    left: 25px !important;
    
}



.portfolio h2{
    top: 16px;
    font-weight: 700;
    font-size: 25px;
    color: #FFFCFC;
    display: inline;}

.portfolio h2:first-child{
    padding-right: 25%;

}

.portfolio{
    bottom: -117px;
    left: 0;
    right: 0;
    height: 36vh;
    position: relative;
}




.view::before{
    content: '';
    width: 8px;
    border-top: solid 2.5px var(--alt-text-color);
    border-right: solid 2.5px var(--alt-text-color);
    height: 8px;
    position: absolute;
    left: 153px;
    top: 10px;
    transform: rotate(45deg);
}

.view::after{
    content: '';
    width: 16px;
    background-color: var(--alt-text-color);
    height: 2.5px;
    position: absolute;
    left: 147px;
    top: 14px;
    transform: rotate(180deg);
}

.items{
    position: relative;
    bottom: -21px;
    height: auto;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}

.item{
    height: 230px;
    width: 143px;
    background-color: var(--gray-color);
    display: inline-block;
    margin-right: 10px;
    border-radius: 19px;
}

.item:first-child{
    margin-left: 28px;
}

.mainImg{
    position: absolute;
    left: 49%;
    top: 21px;
    width: 49%;
}

.category{
    position: fixed;
    color: #FFFFFF;
    left: 28px;
    top: 22px;
    border-radius: 8px;
    border: #FFFFFF solid 2px;
    padding: 9px 36px 9px 12px;
    font-family: Tajawal;
    font-weight: 700;
    z-index: 2;
    font-size: 22px;
}

.category::after{
    position: absolute;
    content: '';
    border-bottom: solid #FFFFFF 2px;
    border-left: solid #FFFFFF 2px;
    width: 10px;
    height: 10px;
    right: 13px;
    top: 14px;
    transform: rotate(-45deg);
    border-radius: 0 0 0 2px;
}